<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/storestylesheet/mainStyle.css">
    <script src="/javascripts/script.js" async></script>
    <script src="https://kit.fontawesome.com/ed3b3b4124.js" crossorigin="anonymous"></script>
    <title> <%= costumerServicesStore.storeName %> </title>
</head>
<body>
    <div id="main-layout" class="main-grid-container">
      
        <%- include ('./partials/header') %>
        <%- include('./partials/navbar') %>
        
        <div id="product-area">
            <h2 id="title-category"> 
                <% if (products[0] && products[0].sale == 'כן') { %>
                 במבצע!
                    <% } else if( products[0] && products[0].category != products[Object.keys(products).length-1].category) { %>
                        ראשי 
                        <% } else if (products[0]) { %>  
                            <%= products[0].category %>
                            <% } else { %>
                                לא קיימים פריטים בקטגוריה
                                <% } %>
            </h2>
            <div id="products-card" class="grid-products">

                    <% products.forEach(product => { %>
                        
                        <div class="grid-card-product ">
                            <img class="img-card-product" src="<%= product.photo %>" alt="">
                            <h1 class="name-card-product"><%= product.name %></h1>
                            <h2 class="price-card-product"><%= product.price %> ₪</h2>
                            <div class="quantity-btn-card">
                                <input class="quantity-card-product" type="number" name="quantity" id="quantity" min="0" max="50">
                                <button class="btn-card-product">הוסף לסל</button>
                            </div>
                            <div class="full-card-details-hide hide"><%= product.details %> </div>
                        </div>
                        
                        <% }) %>
            </div>

            <div id="full-card-product" class="hide">
                <div id="full-card-view">
                    <!-- content will by added here -->
                </div>
            </div>
            <div id="overlay-blur" class="hide"></div>
        </div>

        <div id="shopping-cart-area">
            <h2 id="title-shopping-cart">סל הקניות</h2>
            <button id="btn-remove-all">מחק הכל</button>
            <hr>
            <div id="cart-items">
                <!-- items will be added here -->
            </div>
            <div id="total-cart">
                <hr>
                <h1 id="total-cart-el">לתשלום: 0.00 ₪</h1>
            </div>
        </div>

        <%- include ('./partials/footer.ejs') %> 
        
    </div>
    
</body>
</html>