<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/managementStyleSheet/management.css">
    <script src="/javascripts/management.js" async></script>
    <script src="https://kit.fontawesome.com/ed3b3b4124.js" crossorigin="anonymous" async></script>
    <title>Management</title>
</head>
<body>
    
    <%- include('./partials/header') %> 
    <%- include('./partials/navbar_management') %> 
    
    <main>
        <% if (alert) { %>
            <div style="padding: 3px; font-size: 15rem; font-style: italic; background: rgb(57, 226, 57);"><%= alert %> </div>
        <% } %>

        <div class="main-header"> 
            <div class="main-title">ראשי</div>
        </div>

        <div class="right-main split">  
            <div class="form-container">
                <form method="post" action="">
                        <label for="floatingInput">שם החנות: </label>
                        <input type="text" name="storeName" value="<%= costumerServicesStore.storeName %>" placeholder="שם החנות">
                        <label for="floatingInput">מייל שירות לקוחות: </label>
                        <input type="text" name="storeMail" value="<%= costumerServicesStore.storeMail %>" placeholder="מייל שירות לקוחות">
                        <label for="floatingInput">טלפון שירות לקוחות: </label>
                        <input type="text" name="storePhone" value="<%= costumerServicesStore.storePhone %>" placeholder="טלפון שירות לקוחות">
                        <label for="floatingInput">כתובת החנות: </label>
                        <input type="text" name="storeAddress" value="<%= costumerServicesStore.storeAddress %>" placeholder="כתובת החנות">
                        <label for="floatingInput">קטגוריות: </label>
                    <div class="categories">
                        <select class="categorySelect" name="categorySelect" value="" placeholder="קטגוריות">
                            <option class="categoryItem" value="הוסף קטגוריה">הוסף קטגוריה</option>
                            <% categoryArray.forEach(category => { %>
                                <option class="categoryItem" value="<%= category.slice(1,-1) %> "><%= category.slice(1,-1) %></option>
                            <% }) %>
                        </select>
                        <input name="category" class="categoryInput" type="text" value="" placeholder="הוסף קטגוריה">
                    </div>
                        <button type="submit" value="submit">אישור</button>
                </form>
            </div>
        </div>

        <div class="left-main split">
            <div class="diagram-container">
                
            </div>
        </div>
    </main>

    <%- include('./partials/footer_management') %> 
</body>
</html>